{% extends 'ShareMonkeyBundle::base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="large-12 columns">
            {#
            <div class="row">
                <dl class="sub-nav right">
                    <dt>Sort:</dt>
                    <dd class="active"><a href="#">Recent</a></dd>
                    <dd><a href="#">Top</a></dd>
                </dl>
            </div>
            #}
            {% include 'ShareMonkeyBundle:_partials:_links.html.twig' with {'links' : links} %}
        </div>
        {#
        <div class="large-2 columns">
            <p class="meta"><span class="author">Vincent</span> shared a <span class="media-type">video</span></p>
            <p class="meta"><span class="author">Vincent</span> shared a <span class="media-type">presentation</span></p>
            <p class="meta"><span class="author">Vincent</span> shared a <span class="media-type">article</span></p>
            <p class="meta"><span class="author">Vincent</span> made a <span class="media-type">comment</span></p>
        </div>#}
    </div>
    <style>
        .url {
            color: #888;
        }
        .meta {
            font-size: 14px;
            color: #AAA;
        }
        .meta .author, .meta .date, .meta .count, .meta .media-type {
            font-size: 14px;
            color: #555;
        }
        .meta .label{
            font-size: 11px;
        }
    </style>
{% endblock %}
